.board_container {
    position: absolute;
}

.board_underlay {
    height: 240px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
}

.row_container {
    display: flex;
}

.cell {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

.cell_shaded {
    background-color: rgba(0, 0, 0, 0.4);  
}

.cell_topleft {
    border-top-left-radius: 5px;
}

.cell_topright {
    border-top-right-radius: 5px;
}

.cell_bottomleft {
    border-bottom-left-radius: 5px;
}

.cell_bottomright {
    border-bottom-right-radius: 5px;
}
