.board_container {
    box-shadow: -5px -5px grey;
    border-radius: 5px;
}

.row_container {
    display: flex;
}

.cell {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    user-select: none;
}

.cell_shaded {
    background-color: rgba(0, 0, 0, 0.4);  
}

.cell_topleft {
    border-top-left-radius: 5px;
}

.cell_topright {
    border-top-right-radius: 5px;
}

.cell_bottomleft {
    border-bottom-left-radius: 5px;
}

.cell_bottomright {
    border-bottom-right-radius: 5px;
}
